%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        aigc => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::aigc',
            },
        },
    },
);

%Image::ExifTool::UserDefined::aigc = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-aigc', 2 => 'Image' },
    NAMESPACE => { 'aigc' => 'http://aigc-compliance/ns/1.0/' },
    WRITABLE => 'string',
    AIGC => { Name => 'AIGC' },
    metadata => { Name => 'metadata' },
);

require Image::ExifTool::XMP;
Image::ExifTool::XMP::RegisterNamespace(
    \%Image::ExifTool::UserDefined::aigc
);

1;
